@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

*{
    /* height: 100%; */
    margin: 0;
    font-family: 'Tajawal', sans-serif;
}

.avaliacao{
    height: 143px;
    width: 80%;
    background-color: aqua;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.avaliacao_sup{
    height: 55%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: blue;
}

.container_perfil{
    height: 100%;
    width: 210px;
    display: flex;
    flex-direction: row;

    background-color: brown;    
}

.ava_esq{
    height: 100%;
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: blueviolet;
}

.ava_esq img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
.ava_esq p{
    font-size: 18px;
    font-weight: lighter;
}

.ava_dir{
    height: 100%;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: aquamarine;
}
.informacaoes{
    height: 50%;
    width: 100%;
    background-color: blueviolet;
}

.estrela{
    height: 30px;
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: cadetblue;
}

.data{
    position: relative;
    top: 58px;
}

