@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

*{
    /* height: 100%; */
    margin: 0;
    font-family: 'Tajawal', sans-serif;
}



  footer {
    position: absolute;
    bottom: 0;
    background-color: #EEEEEE;
    color: #787575;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 70px;    
    font-size: 12px;
}



#texto_footer{
    height: 35px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
