@import url('https://fonas.googleapis.com/css2?family=Tajawal&display=swap');

*{
    font-family: 'Tajawal', sans-serif;
    margin: 0;
}

section{
    height: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteiner-avaliacao{
    height: 800px;
    width: 80%;
    background-color: aqua;
}

.div_superior{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: blue;
}

.div_inferior{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
