@import url('https://fonas.googleapis.com/css2?family=Tajawal&display=swap');

*{
    font-family: 'Tajawal', sans-serif;
    margin: 0;
}

#ava-section{
    height: 1350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteiner-avaliacao{
    height: 800px;
    width: 80%;

}

.div_superior{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 18px;
    
}

.div_inferior{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comentarios{
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: scroll;
}
