@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tajawal;
    text-decoration: none;     
}

.avaliacao{
    height: 143px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.avaliacao_sup{
    height: 55%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container_perfil{
    height: 100%;
    width: 210px;
    display: flex;
    flex-direction: row; 
}

.ava_esq{
    height: 100%;
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.ava_esq img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    fill: ;
}

.ava_esq p{
    font-size: 18px;
    font-weight: bold;
}

.ava_dir{
    height: 100%;
    width: 150px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ava_dir p{
    font-size: 16px;
    font-weight: 500;
}

.informacaoes{
    height: 50%;
    width: 100%;
}

.estrela{
    height: 30px;
    width: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.data{
    position: relative;
    top: 58px;
    font-weight: 600;
}

.avaliação_inf{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    border-bottom: black 2px solid;
}

.avaliação_inf p{
    padding-bottom: 20px;
}

