@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

*{
    /* height: 100%; */
    margin: 0;
    font-family: 'Tajawal', sans-serif;
}

#circulo{
    height: 220px;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    border: solid 2px black;
}


.circulo_informacoes{
    height: 120px;
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.estrelas_maior{
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#nota{
    font-size: 40px;
    font-weight: bolder;
}

#avaliacoes{
    font-size: 18px;
    font-weight: lighter;
}