@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tajawal;
    text-decoration: none;     
}

.section-feed{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.section-feed h1{
    font-size: 30px;
}

.gif-construcao{
    width: 600px;
}

.section-feed button{
    width: 250px;
    height: 44px;
    color: #FFFFFF;
    font-weight: 600;
    background-color: var(--referencia);
    border: none;
    border-radius: 3px;
}