@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, roboto;
    text-decoration: none;
        
}

:root{
    --verde-btn: #369F64;
    --verde-btn-hover: #308354;
    --referencia: #7724BE;
    --cinza-btn: #E5E5E5;
    --cinza-btn-hover: #9F9F9F;
    --cinza-btn-border: #C4C4C4;
}

::-webkit-scrollbar{
    display: none;
} 


#menu{
    margin-top: 100px;
    height: 40px;
    width: 80%;
    border-bottom: black 2px solid;
    display: flex;

}


.sub-menu{
    height: 40px;
    width:20%;
    display: flex;
    justify-content: left ;
    align-items: center;
    text-align: left;
}

#menu p{
    
    font-size: 18px;
}