#esqueceu_senha{
    width: 100%;
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
}

h2{
    font-size: 22px;
}

.divisao{
    height: 100%;
    width: 100%;
}

.centralizado{
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-fechar{
    position: relative;
    top: 5%;
    left: 25%;
}

#esqueceu_senha{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index:10000;
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(0,0,0,.4);
}

.pop_up{
    width: 528px;
    height: 387px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}

#popUp{
    width: 425px;
    height: 100%;
    display: grid;
    grid-template-rows: 80px 70px 90px 30px 70px;
}

.coluna{
    display: flex;
    align-items: flex-end;
}

.coluna p{
    color: red;
    font-weight: 600;
    padding-left: 10px;
}

.coluna img{
    display: none;
    width: 20px;
    height: 20px;
    color: red;
}

.paragrafo p{
    margin-top: 10px;
}

#popUp input, .paragrafo{
    width: 100%;
    height: 44px;
}

.btn-popUp{
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 600;
    color: white;
    background-color: var(--verde-btn);
    border: none;
    border-radius: 3px;
}

@media (max-width: 500px){
    .pop_up, #popUp{
        width: 90%;
    }  
    .link-fechar{
        left: 20%;
    }  
}
@media (max-width: 370px){
    .link-fechar{
        left: 10%;
    }  
}