@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

*{
    /* height: 100%; */
    margin: 0;
    font-family: 'Tajawal', sans-serif;
}

.container-produto{
    height: 266px;
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px #939393;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.informacoes-produto{
    height: 95%;
    width: 90%;
}

.superior{
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.visualizacao{
    height: 100%;
    width: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.meio{
    height: 180px;
    width: 100%;
    border-bottom: solid 2px #939393;
}

.meio img{
    padding-top: 5px;
    width: 100%;
}

.inferior{
    height: 39px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}