@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tajawal;
    text-decoration: none;     
}



.side-bar{
    background-color: #7724BE;
    height: 100vh;
    width: 15%;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-image{
    text-align: center;
    width: 100%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 90px;
    margin-bottom: 20px;
}

.div-image img{
    width: 90px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
}

.div-title-side-bar{
    color: white;
    text-align: center;
}

.div-topic{
    margin-top: 20%;
    color: white;
    width: 80%;
    height: 15%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.div-topic div{
height: 50px;
width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
}

.div-topic img{
    height: 30px;
    width: 30px;
}

.div-topic p:hover{

    text-shadow: 0 0 0.2em #FFFFFF;
}

.div-sair{
    color: white;
    width: 80%;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    margin-top: 42vh;
    margin-right: 20px;
    
}

.side-dash-opcoes{
    cursor: pointer;
}

.div-sair img{
    height: 30px;
    width: 30px;
}

p {
    color: white;
}