@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tajawal;
    text-decoration: none;
}

:root {
    --verde-btn: #369F64;
    --verde-btn-hover: #308354;
    --referencia: #7724BE;
    --cinza-btn: #E5E5E5;
    --cinza-btn-hover: #9F9F9F;
    --cinza-btn-border: #C4C4C4;
}

::-webkit-scrollbar {
    display: none;
}


.container-banner {
    width: 90%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.container-banner img {
    width: 100%;
}

.title-feed {
    font-size: 18px;
    margin-left: 5%;
    margin-top: 2%;
}

/*Header simples*/
header {
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7724BE;
}

.container {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 63px;
    height: 64px;
}

.img_acessibilidade {
    position: fixed;
    margin-left: 94%;
    margin-top: 15%;
}

/*Footer*/
footer {
    background-color: #EEEEEE;
    color: #787575;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    font-size: 12px;
}

#texto_footer {
    height: 35px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/*Header completo*/
#header_completo {
    height: 157px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header_sup {
    height: 118px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--referencia);
}

.container_completo {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#input_pesquisar {
    height: 44px;
    width: 438px;
    border-radius: 10px;
    display: flex;

}

#input_pesquisar input {
    height: 100%;
    width: 400px;
    font-size: 14px;
    border-radius: 10px 0px 0px 10px;
    border: none;
    padding-left: 10px;
}

#input_pesquisar input:focus {
    box-shadow: 0 0 0 0;
    border: none 0;
    outline: 0;
}

#input_pesquisar button {
    height: 100%;
    width: 38px;
    border-radius: 0px 10px 10px 0px;
    border: none;
    background-color: #FFF;
}

#input_pesquisar img {
    height: 20px;
    width: 19px;
}

#div_usuario {
    height: 44px;
    width: 155px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#img_foto {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

#nome_usuario {
    width: 45px;
    font-size: 16px;
    color: #FFF;
}


#img_seta {
    height: 12px;
    width: 13px;
}

#div_icones {
    height: 44px;
    width: 108px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#div_icones img {
    height: 24px;
    width: 20px;
}

.he-link-img {
    height: 24px;
    width: 20px;
}

#btn_doacao {
    height: 44px;
    width: 148px;
    border-radius: 5px;
    border: none;
    background-color: #00CC96;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#btn_doacao:hover {
    transition: background-color 0.5s;
    background-color: #308354;
}

#btn_doacao p {
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
}

#btn_doacao img {
    height: 16px;
    width: 16px;
}

#header_inferior {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
}

#div_produto {
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #4E3069;
    padding-left: 6.5%;
}

#div_produtos {
    height: 100%;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #5C337F;
}

#div_produtos p {
    padding-left: 3%;
}

/*Tooltip*/
#he-tooltip {
    visibility: hidden;
    position: relative;
    height: 0;
    width: 0;
    background-color: #308354;
}

.menuzinho {
    position: relative;
    height: 146px;
    width: 173px;
    top: 30px;
    left: -170px;
    border: 1px solid #DADADA;
    background-color: #FFFFFF;
}

#triangulo-para-cima {
    position: relative;
    width: 0;
    height: 0;
    top: -10%;
    left: 78.5%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #FFFFFF;
}

#menuzinho-deslogado {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 90%;
    width: 100%;
    top: -5%;
}

#menuzinho-deslogado div {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mn-parte-um {
    height: 40%;
    justify-content: center;
    border-bottom: 1px solid #000000;
}

.mn-parte-dois {
    height: 60%;
    justify-content: space-evenly;
}

.mn-parte-dois p {
    font-size: 13px;
    font-weight: bold;
}

#menuzinho-deslogado button {
    height: 35px;
    width: 100%;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    background-color: #7724BE;
}

#menuzinho-logado {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 90%;
    width: 100%;
    top: -5%;
}

#menuzinho-logado button {
    height: 35px;
    width: 90%;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    background-color: #7724BE;
}

.he-link-p {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
}

.he-link-p:hover {
    font-size: 14.5px;
    font-weight: bolder;
}

.he-link-btn {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
}

#menuzinho-deslogado button:hover,
#menuzinho-logado button:hover {
    background-color: #2F0E4C;
}

#todas-categorias {
    position: absolute;
    height: 400px;
    width: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    visibility: hidden;
    z-index: 1;
    background-color: #5C337F;
}

#todas-categorias > div {
    height: 370px;
    width: 300px;
    display: grid;
    grid-template-rows: 30px 30px 30px 30px 30px 30px 30px 30px 30px;  
}