@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tajawal;
    text-decoration: none;
}

.div_conteiner_ava{
    height: 450px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    justify-content: space-around;
    position: relative;
    background-color: #FFF;
}

.div_sup_ava {

    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}

.div_sup_ava img {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 25px;
   left: 470px;
}

.div_sup_ava p {
    font-weight: bold;
}


.div_avaliacao {
    height: 80px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: #FC0; */
}


.div_inf_ava {
    height: 250px;
    width: 90%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: #7724BE; */
    
}


.div_inf_ava input {
    height: 120px;
    width: 100%;
    border: none;
    border: #7724BE 2px solid;
}
.div_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.btn_avaliacao {
    height: 30px;
    width: 120px;
    border-radius: 3px;
    background-color: #7724BE;
    font-size: 14px;
    color: #FFF;
    border: none;
    font-weight: bold;

}

#avaliacao{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index:10000;
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(0,0,0,.4);  
}

.estrelas{
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.estrelas input[type=radio] {
    display: none;
    margin-left: 15px;
  }
  .estrelas label i.fa{
    font-size: 2.3em
  }
  .estrelas label i.fa:before {
    content:'\f005';
    color: #FC0;
  }
  .estrelas input[type=radio]:checked ~ label i.fa:before {
    color: #CCC;
  }