@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tajawal;
    text-decoration: none;
}

.div_filtro {
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: red;
    position: relative;
    
}


.div_sup {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div_sup img {
    height: 20px;
    width: 20px;
    position: fixed;
    left: 270px;
    top: 10px;
}

.div_sup p {
    font-weight: bold;
}

.div_meio {
    height: 200px;
    width: 90%;
}

.div_meio div {
    height: 33.3px;
    width: 100%;
    display: flex;
    align-items: center;
}

.div_meio label {
    margin-left: 10px;
}

.div_meio input {
    height: 20px;
    width: 20px;

}

.div_inf {
    height: 50px;
    width: 100%;
}

.btn_filtrar {
    height: 30px;
    width: 120px;
    border-radius: 3px;
    background-color: #7724BE;
    font-size: 14px;
    color: #FFF;
    border: solid 1px black;
    font-weight: bold;

}