@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tajawal;
    text-decoration: none;
}

#filtro{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index:10000;
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(0,0,0,.4);
}

.div_filtro {
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    background-color: #FFF;
}


.div_sup_filtro {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div_sup_filtro img {
    height: 20px;
    width: 20px;
    position: relative;
    top: 0px;
    left: 80px;
}

.div_sup_filtro p {
    font-weight: bold;
}

.div_meio_filtro {
    height: 250px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 
}

.div_meio_filtro div {
    height: 20px;
    width: 100%;
    display: flex;
    align-items: center;
}

.div_meio_filtro label {
    margin-left: 10px;
}

.div_meio_filtro input {
    height: 20px;
    width: 20px;

}

.div_inf {
    height: 50px;
    width: 100%;
}

.btn_filtrar {
    height: 30px;
    width: 120px;
    border-radius: 3px;
    background-color: #7724BE;
    font-size: 14px;
    color: #FFF;
    border: solid 1px black;
    font-weight: bold;

}