
section{
    width: 100%;
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

h1{
    text-align: center;
    font-size: 22px;
}

.form1{
    width: 466px;
    height: 70%;
    display: grid;
    grid-template-rows: 10% 15% 20% 20% 20% ;
}



.form2{
    
    margin-top: 50px;
    width: 466px;

    background-color: red;
    text-align: center;
    display: grid;
    grid-template-rows: 5% 5% 15% 15% 15% 15% 15% 15% 15% 15%;
}

.input{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.input_double{
    text-align: left;
    display: grid;
    grid-template-columns: 50% 50%;
    width: auto;
    justify-content: center;
    margin: auto;
}

.input .input_double{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    height: 44px;
    border: 1px solid #A6A6A6;
    border-radius: 3px;
    
}
input .input_double{
    width: 80px;
    height: 44px;
    border: 1px solid #A6A6A6;
    border-radius: 3px;
    
}

.imp_progresso{
   margin: auto;
}

.img_acessibilidade{
    position: fixed;
    margin-left: 94%;
    margin-top: 15%;
}

input{
    width: 100%;
    height: 44px;
    border: 1px solid #A6A6A6;
    border-radius: 3px;
}

.btn_cadastrar{
    width: 178px;
    height: 44px;
    background-color: var(--verde-btn);
    border: none;
    border-radius: 3px;
    color: #fff;
    margin-left: calc(100% - 178px);
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
    margin-top: 5%
}

.btn_voltar{
    width: 178px;
    height: 44px;
    background-color: var(--verde-btn);
    border: none;
    border-radius: 3px;
    color: #fff;
    /* margin-left: 55%; */
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    justify-content: center;

}

@media (max-width: 500px){
    form{
        width: 90%;
    }
    
}
